$primary-color: #8c1123;
$secondary-color: #455560;
$dark-text-color: #333333;
$light-text-color: #888888;
$white-text: #ffffff;
$light-bg: #ffffff;
$border-color: #cccccc;
$success-color: rgb(83, 154, 83);
$selection-bg: #9797979e;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$main-transition: ease-in-out .2s;
$box-shadow: 0 1px 5px 0 rgb(36 36 36 / 12%);